body {
  background-color: black;
}

main {
  background-color: gray;
  font: 18px Arial, sans-serif;
}

main h4 {
background-color: rgb(82, 82, 82);
color: white;
font: 18px Arial, sans-serif;
height: 50px;
text-align: center;
padding: initial
}

main input {
background-color: whitesmoke;
font: 18px Arial, sans-serif;
height: 50px;

}

main span {
background-color: rgb(216, 216, 216);
height: 50px;
}

button {
  background-color: black;
  color: white;
  font: 18px Arial, sans-serif;
  height: 50px;
}

button:hover {
  color: green;
}
