body {
  text-align: center;
  font: 18px Arial, sans-serif;
  background-color: #585656;
}

button:hover {
  color: green;
}

.description:hover {
  overflow: visible;
  white-space:normal;
  height:auto;
  padding: 10px;
  margin-bottom: 10px;
}



