body {
  text-align: center;
  font: 18px Arial, sans-serif;
  background-color: #585656;
}

main h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #262525;
  width: 100%;
  height: 50px;
  margin-bottom: auto;
}

button {
  background-color: black;
  color: white;
  font: 18px Arial, sans-serif;
  width: 100%;
  display: center;
  padding: 1em;
  margin-top: 5px;
}

button:hover {
  color: green;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  margin: auto;
}

input {
  padding: 1em;
  font: 18px Arial, sans-serif;
  color: green;
  margin: 5px 0px;
}

label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font: 18px Arial, sans-serif;
}

fieldset {
  background-color: darkgray;
}

span {
  width: 70px;
  text-align: left;
}


/* At loading search results */

.search-container {
  background-color: #97e7d6;
}

img {
  display: inline-block;
  margin: auto;
  padding: 20px;
  width: 25%;
}

.title {
  font-family: Verdana, sans-serif;
  font-size: 18px;
  color: #671c1c;
  margin: 10px;
}

.author {
  font-family: Verdana, sans-serif;
  font-style: italic;
  font-size: 16px;
  color: black;
  margin: 10px;
  display: inline;
}

.publishDate, .isbn {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  display: block;
}

.description {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  color: #6b3e3e;
  line-height: 1.5em;
  display:block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px 15px;
}

.description:hover {
  overflow: visible;
  white-space:normal;
  height:auto;
  padding: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 1000px) {
  
  nav.menu {
    width: 100%;
    left: -100%;
 }

  img {
    width: 30%;
 }

  main div {
    width: 100%;
  }
}