
button {
  background-color: black;
  color: white;
  font: 18px Arial, sans-serif;
  width: 100%;
  display: center;
  padding: 1em;
  margin-top: 5px;
}

button:hover {
  color: green;
}

.description:hover {
  overflow: visible;
  white-space:normal;
  height:auto;
  padding: 10px;
  margin-bottom: 10px;
}

