<head>
  <title>Book Collection</title>
  <link rel="stylesheet" href="/public/styles/reset.css" type="text/css" />
  <link rel="stylesheet" href="/public/styles/base.css" type="text/css" />
  <link rel="stylesheet" href="public/styles/icons.css" type="text/css" />
  <link rel="stylesheet" href="/public/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/public/styles/modules.css" type="text/css" />
</head>